<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Jet_Electric_Inter.Properties.Settings.JetConnection"
            connectionString="Server=DESKTOP-H9NQTJ3;Database=JetElectric;Trusted_Connection=True;TrustServerCertificate=True" />
    </connectionStrings>
</configuration>